/*@font-face {
    font-family: 'Helvetica Neue';
    src: url('http://snippethosted.googlecode.com/svn/helveticaneue-light-webfont.eot');
    src: url('http://snippethosted.googlecode.com/svn/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://snippethosted.googlecode.com/svn/helveticaneue-light-webfont.woff') format('woff'),
         url('http://snippethosted.googlecode.com/svn/helveticaneue-light-webfont.ttf') format('truetype'),
         url('http://snippethosted.googlecode.com/svn/helveticaneue-light-webfont.svg#helveticaneuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
  font-family: myHelveticaLight;
  src: local("Helvetica Neue Light"),
       local("HelveticaNeue-Light"),
       url(HelveticaNeueLight.ttf);
}

/* page design */
.base {
  margin-top: 50px;
  background-position-x: initial;
  background-position-y: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #ffffff;
  /*background-color : #eeeeee; */
  /*background-color: #fcfcfd;*/
  /*background-color: #f0f3f9;*/
  /*background-color: gray;*/
  background-image: url(/img_bg_pattern.png);
  background-size: 15px 15px;
}

.after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background-color: #fff;
  z-index: -1;
}

.navbar {
  /*opacity: 0.9;*/
  font-size: 16px;
}

.nav-container {
  max-width: 1200px;
}

.navbar-text {
  display: none;
}

#modal_aboutus_colser {
  display:none;
}

.doc {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  color: #222222;
  /*color: #4B4F56;*/
  /*color: #101010;*/
  /*color : #5a656f;*/
  /*color: #68747f;*/
  /*color : #363737;*/
}

.doc-nav {
  padding-top: 60px;
  /*color: #68747f;*/
}

.doc-description {
  padding-top: 0px;
  padding-bottom: 0px;
  /*border-left: 5px solid #6e7a87;*/
  border-left: 5px solid #101010;
}

.doc-description:hover {
  cursor: pointer;
  cursor: hand;
}

.doc-description-content{
  font-size: 15px;
}

.doc-content {
  padding-top: 76px;
  background-color: white;
  box-shadow: -4px 0px 3px #cccccc;
}

.doc-content .content blockquote {
  font-size : 15px;
  margin-bottom : 40px;
}

/* side-nav default */
.side-nav{
  list-style-type: none;
  /*color: rgb(104, 116, 127);*/
  color: black;
  padding-left: 25px;
  padding-top: 50px;
}

.side-nav li{
  maring-top: 2px;
  padding: 10px;
}

.side-nav > li > a{
  background-color: transparent;
  /*color: #4b4f56;*/
  color: black;
  font-size: 15px;
  font-weight: none;
  text-decoration: none;
}

.sub-side-nav{
  list-style-type: none;
  position: relative;
  display: none;
  padding-left: 10px;
  padding-top: 10px;
}

.sub-side-nav > li > a{
  background-color: transparent;
  color: black;
  font-size: 14px;
  font-weight: none;
  text-decoration: none;
}

.sub-side-nav > li{
  padding-top: 5px;
  padding-bottom: 5px;
}



/* side-nav event */
/* hover */
.side-nav > li > a.hovered{
  background-color: transparent;
  /*color: #515963;*/
  font-size: 15px;
  /*font-weight: bold;*/
  text-decoration: none;
}
.sub-side-nav > li > a.hovered{
  background-color: transparent;
  /*color: #515963;*/
  font-size: 14px;
  /*font-weight: bold;*/
  text-decoration: none;
}

.side-nav.hovered, .sub-side-nav.hovered{
  background-color: transparent;
  list-style-type: none;
  position: relative;
  display: block;
  padding-left: 10px;
  padding-top: 10px;
}

a.hovered:before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 4px;
  height: 18px;
  /*background-color: #6e7a87;*/
  /*background-color: #4b4f56;*/
  background-color: black;
}

/* active */
.side-nav > li > a.active{
  background-color: transparent;
  /*color: #515963;*/
  /*color: #4b4f56;*/
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.side-nav > li.active > .sub-side-nav{
  display: block;
}

.sub-side-nav > li > a.active{
  background-color: transparent;
  /*color: #515963;*/
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.sub-side-nav.active{
  display: block;
}

a.active:before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 4px;
  height: 18px;
  /*background-color: #6e7a87;*/
  /*background-color: #4b4f56;*/
  background-color: black;
}

/* scrolled */
a.scrolled:before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 4px;
  height: 18px;
  /*background-color: #6e7a87;*/
  /*background-color: #4b4f56;*/
  background-color: black;
}

.side-nav.scrolled, .sub-side-nav.scrolled{
  background-color: transparent;
  list-style-type: none;
  position: relative;
  display: block;
  padding-left: 10px;
  padding-top: 10px;
}

.side-nav > li > a.scrolled{
  background-color: transparent;
  /*color: #515963;*/
  /*color: #4b4f56;*/
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.sub-side-nav > li > a.scrolled{
  background-color: transparent;
  /*color: #515963;*/
  /*color: #4b4f56;*/
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

/*.side-nav{
  list-style-type: none;
  color: #68747f;
  padding-left: 25px;
  padding-top: 50px;
}

.side-nav li{
  maring-top: 2px;
  padding: 10px;
}

.side-nav > li > a{
  background-color: transparent;
  color: #909497;
  font-size: 16px;
  font-weight: none;
  text-decoration: none;
}

.side-nav > li > a.active{
  background-color: transparent;
  color: #626567;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.side-nav > li > a:hover{
  background-color: transparent;
  color: #626567;
  font-size: 16px;
  text-decoration: none;
}

.side-nav > li > a:hover:before, .side-nav > li > a.active:before, .side-nave >li > a.active:before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 4px;
  height: 18px;
  background-color: darkgray;
}

.side-nav > li.content-header > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 4px;
  height: 18px;
  background-color: darkgray;
}

.sub-side-nav{
  list-style-type: none;
  position: relative;
  display: none;
  padding-left: 10px;
  padding-top: 10px;
}

.sub-side-nav.hovered{
  list-style-type: none !important;
  position: relative !important;
  display: block !important;
  padding-left: 10px !important;
  padding-top: 10px !important;
}

.sub-side-nav > li > a{
  background-color: transparent;
  color: #909497;
  font-size: 14px;
  font-weight: none;
  text-decoration: none;
}

.sub-side-nav > li > a.active{
  background-color: transparent;
  color: #626567;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.sub-side-nav > li{
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub-side-nav > li > a:hover{
  background-color: transparent;
  color: #626567;
  font-size: 14px;
  text-decoration: none;
}

.sub-side-nav > li > a:hover:before, .sub-side-nav > li > a.active:before, .sub-side-nav > li > a.active:before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 4px;
  height: 18px;
  background-color: darkgray;
}*/

.footer-bottom {
  margin-bottom : 50px;
  margin-top : 150px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 0px;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .footer-bottom .col-sm-9{
    padding-left: 15px !important;
  }
}

/* contents */
h1, h2, h3, h4, h5, h6{
  /*color: #42515f;*/
  color: #101010;
}

.doc-content h1,
.doc-content h2,
.doc-content h3,
.doc-content h4,
.doc-content h5,
.doc-content h6{
  padding-top : 80px;
  margin-top : -80px;
}

.doc-content h2 {
  /*padding-top: 96px;*/
  margin-bottom : 55px;
}

.doc-content h3 {
  margin-top: -80px;
  padding-top: 96px;
}

.doc-content h5 {
  font-size : 16px;
}

.note-editor h1,
.note-editor h2,
.note-editor h3,
.note-editor h4,
.note-editor h5,
.note-editor h6{
  padding-top : 15px;
  margin-top : -15px;
}

/*.doc-content h3{
  padding-bottom : 35px;
}*/

.doc .doc-content hr{
  margin-top: 3px;
}

hr {
  border-color: #d1d1d1;
}

.nav-divider {
  border-color : #757575;
}

.doc .doc-content .form-group{
  margin-bottom: 15px;
}

/* modal design */
.modal-dialog.modal-fullsize {
  width:50%;
  height:50%;
  margin: 0;
  padding: 0;
}

#modal_aboutus .modal-dialog.modal-fullsize {
  width:65%;
  height:50%;
  margin: 0;
  padding: 0;
}

#modal_keywords .modal-dialog.modal-fullsize {
  width:50%;
  height:50%;
  margin: 0;
  padding: 0;
}

#modal_editor .modal-dialog.modal-fullsize {
  width:95%;
  height:95%;
  margin: 0;
  padding: 0;
}

.modal_cheatsheet .modal-dialog {
  max-width: 88vw;
  max-height: 88vh;
  width: 88vw;
  height: 88vh;
}

.modal_cheatsheet .modal-content {
  background-color: rgba(0,0,0,0.60);
  border-radius: 0px;
}

.modal_cheatsheet .img_container {
  max-width: 60vw;
  max-height: 88vh;
  text-align: right;

  padding: 0;
  margin: 0;
}

@media screen and (min-width : 768px) and (max-width : 991px) {
  .modal_cheatsheet .img_container {
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;

    padding: 0;
    margin: 0;
  }
}

.modal_cheatsheet .cheatsheet_img {
  max-width: 60vw;
  max-height: 88vh;
  margin: auto;
}

.modal_cheatsheet .info_container {
  padding-left: 15px;
  padding-right: 15px;
}

.modal_cheatsheet .cheatsheet_info {
  padding-top: 35px;
}

.modal_cheatsheet h3,
.modal_cheatsheet h4,
.modal_cheatsheet h5,
.modal_cheatsheet h6 {
  color: #b2b2b4;
}

.modal_cheatsheet {
  color: #b2b2b4;
}

.modal-content.row {
  margin: 0px;
}


.close.cheatsheet_close {
  margin: 50px;
  font-size: 50px;
  color: white;
}

#modal_cheatsheet h4, #modal_cheatsheet h5 {
  color: white !important;
}


.modal-content.modal-fullsize {
  height: auto;
  min-height: 100%;
  max-height: 780px;
  border-radius: 0;
}

.modal.modal-center {
  text-align: center;
}

.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    overflow-y: auto;
}

.modal-content{
  border-radius : 0px;
}

.modal-header, .modal-body, .modal-footer{
  border: 0px;
}

@media screen and (min-width: 768px) {
  .modal.modal-center:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  #modal_img {
    display: none;
  }
}

.node-selected {
  color : #FFFFFF;
  background-color : #555 !important;
}



/* Custom, iPhone Retina ==> iPhone */
@media screen and (min-width : 320px) and (max-width : 767px) {
  .base {
    background-color : #FFF;
    background-image : none;
  }

  .doc {
    max-width: auto;
  }

  .doc-nav {
    display: none;
  }
  .nav-divider {
    display: block;
  }
  .navbar-text {
    display: block;
    padding-left:10px;
    font-weight:bold;
    /*font-style:italic;
    text-decoration: underline;*/
    margin-bottom: 3px;
  }
  .navbar-index {
    padding-left: 0px;
  }
  .collapsed-menu-header > ul {
    list-style-type : none;
  }
  .collapsed-menu-header ul li {
    padding-top : 10px;
  }
  .collapsed-menu-header  a {
    color : #9d9d9d;
    text-decoration : none;
  }
  .collapsed-menu-header ul a {
    color : #9d9d9d;
    text-decoration : none;
  }
  .collapsed-menu-header ul a.focus {
    color : #FFF;
    background-color : transparent;
  }

  .doc-content {
    padding-top : 10px;
  }

  #modal_aboutus .modal-dialog.modal-fullsize {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
  }

  #modal_aboutus_colser {
    display:block;
  }

  .footer-logo {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
  }

  .index_content .footer-logo {
    max-width: initial;
  }

  .index_content .footer-bottom {
    padding-left: initial;
  }
}

/* Small Devices, Tablets ==> iPad */
@media screen and (min-width : 768px) and (max-width : 991px) {
  .base {
    background-color : #FFF;
    background-image : none;
  }.doc-nav {
    display: none;
  }
  .collapsed-menu-header {
    display: none !important;
  }
  .nav-divider {
    display: none;
  }
  .doc-nav {
    padding-left: 30px;
  }
  .doc-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* Medium Devices, Desktops ==> iPad Pro */
@media screen and (min-width : 992px) and (max-width : 1199px) {
  .base {
    background-color : #FFF;
    background-image : none;
  }
  .doc-nav {
    display: none;
  }
  .collapsed-menu-header {
    display: none !important;
  }
  .nav-divider {
    display: none;
  }
  .doc-nav {
    padding-left: 30px;
  }
  .doc-content {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Large Devices, Wide Screens ==> Macbook, Wide Monitor */
@media screen and (min-width : 1200px) {
  .doc-nav {
    display: block;
  }
  .collapsed-menu-header {
    display: none !important;
  }
  .nav-divider {
    display: none;
  }
  .doc-nav {
    padding-left: 30px;
  }
  .doc-content {
    padding-left: 50px;
  }
}


/* content */
.btn-important {
  display: inline-block;
  margin: 18px 0 41px;
  padding: 10px 20px;
  /*background: #38383E;
  border: 1px solid #38383E;*/
  background: #101010;
  border: 1px solid #101010;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 1px;
  opacity: 0.95;
}

.btn-important:hover{
  color: lightgray;
}

.btn-important:focus{
  outline:none;
  color: lightgray;
}

.btn-important:active{
  color: lightgray;
  outline: none;
}

.btn-important.btn-small{
  margin: 0px;
  padding: 5px;
  width: 100%;
}

.btn-important-inverse {
  display: inline-block;
  margin: 18px 0 41px;
  padding: 10px 20px;
  background: white;
  border: 1px solid #101010;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  border-radius: 1px;
  opacity: 0.95;
}

.btn-important-inverse:hover{
  border: 2px solid #101010;
}

.btn-important-inverse:focus{
  outline:none;
  border: 2px solid #101010;
}

.btn-important-inverse:active{
  outline: none;
  border: 2px solid #101010;
}

.btn-important-inverse.btn-small{
  margin: 0px;
  padding: 5px;
  width: 100%;
}

.searchbar {
  margin-bottom: 50px;
}

.searchbar input {
  height: 47px;
  border-radius: 0px;
}

.searchbar .btn-important {
  margin: 0px;
}


.search-result-row{
  margin-left: 0px;;
  margin-right: 0px;
  margin-bottom: 15px;
}


/* Custom, iPhone Retina ==> iPhone */
@media screen and (min-width : 320px) and (max-width : 767px) {
  /*.search-result .row{
    margin-left: -15px;
    margin-right: -15px;
  }*/

  .search-result {
    margin-bottom: initial !important;
  }
}

.search-result-content{
  padding: 7px;
}

.search-result-content:hover {
  border : 2px solid #42515f;
  border-color: #42515f;
  /*cursor: pointer;*/
}

.search-result-image img:hover{
  cursor: pointer;
}

.search-result-image {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.search-result-text {
  padding-top: 15px;
}

.search-result-text span{
  font-size: 12px;
}

.tooltip.top .tooltip-inner {
    background-color:red;
}
.tooltip.top .tooltip-arrow {
      border-top-color: red;
}




.image-info {
  display: none;
}




.chart {
  width: 100%;
  min-height: 450px;
}

.discussion_table thead tr {
  /*background-color: #505050;*/
  /*background-color: #101010;
  color: white;*/
  /*font-weight: bold;*/
  color: #383838;
}

.discussion_table thead tr {
  border: 1px solid #383838;
  background-color: #383838;
  color: white;
}

.discussion_table thead tr th {
  font-weight: normal;
  border: 1px solid #383838;
}

.discussion_table tbody tr {
  border: 1px solid #383838;
  color: #383838;
}

.discussion_table tbody tr td {
  border: 1px solid #383838;
}

.discussion_table span {
  font-weight: bold;
}



.topic_table thead tr {
  /*background-color: #505050;*/
  /*background-color: #101010;
  color: white;*/
  /*font-weight: bold;*/
  color: #383838;
}

.topic_table thead tr {
  border: 1px solid #383838;
  background-color: #383838;
  color: white;
}

.topic_table thead tr th {
  font-weight: normal;
  border: 1px solid #383838;
}

.topic_table tbody tr {
  border: 1px solid #383838;
  color: #383838;
}

.topic_table tbody tr td {
  border: 1px solid #383838;
}

.topic_table span {
  font-weight: bold;
}



/* Mobile, Tablet Control - Start */
.mobile-show {
  display: none;
}

.tablet-show {
  display: none;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .mobile-hidden {
    display: none !important;
  }
  .mobile-show {
    display: block !important;
  }
}

@media screen and (min-width : 768px) and (max-width : 991px) {
  .tablet-hidden {
    display:none !important;
  }

  .tablet-show {
    display: block !important;
  }
}

/* Mobile, Tablet Control - End */

.navbar-brand {
  /*background-image : url( "/apple-icon-76x76.png" );*/
}

/* Keyword Architecture - start */
.keywordarchitecture_img {
  max-height: 100%;
  max-width: 100%;

  height: 100%;
  width: 100%;
}

.keywordarchitecture_thumbnail_row .col-xs-6{
  margin-bottom:10px;
  height: 133px !important;
  max-height: 133px !important;
}

.keywordarchitecture_thumbnail_row .col-xs-6 img{
  box-shadow: 3px 3px 3px #aaaaaa;
}

.keywordarchitecture_thumbnail_row .col-xs-6 img:hover{
  cursor: pointer;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  p > br {
    display: none;
  }

  .btn-important {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* Keyword Architecture - end */


/* Concept Sketch - start */
.topic_img {
  margin-top:15px;
  margin-bottom:15px;
  min-height: 380px;
  max-height:55vh;
  height: 47vh;
  max-width:65vw;
}

@media screen and (min-width : 768px) and (max-width : 991px) {
  .topic_img {
    max-width: initial;
  }
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  img {
    width: 100%;
    max-width: 100%;
  }

  .topic_img {
    margin-top:15px;
    margin-bottom:15px;
    max-width:100%;
  }
}
/* Concept Sketch - end */

/* Topic list - start */
.topic_row {
  margin-left: 0px;
}

.topic_row hr {
  margin-bottom: 50px;
}

.topic_row .topic_content h4 {
  color : #494949;
  margin-top: 0px;
  padding-top: 0px;
}

.topic_row .topic_content_summary {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;      /* fallback */
}

.topic_row .topic_thumbnail_img {
  text-align: right;
  max-height: 200px;
}

.topic_row .topic_thumbnail_img img {
  max-height: 150px;
  margin: auto;
}

.topic_row .topic_thumbnail_img img:hover {
  cursor: pointer;
  box-shadow: 1.5px 1.5px 1px #aaaaaa;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  img {
    width: 100%;
    max-width: 100%;
  }

  .topic_img {
    margin-top:15px;
    margin-bottom:15px;
    max-width:100%;
  }
}
/* Topic list - end */
