<div class="modal modal-center fade" role="dialog" id="modal_aboutus">
  <div class="modal-dialog modal-center modal-fullsize">
    <div class="modal-content modal-fullsize">
      <div class="modal-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <p>
                <h3>
                  Well Formed IT<br><small>  Produced by wellformedit group</small>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </h3>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5" style="vertical-align: middle">
              <img src="ZY1HFByP7A6JBAwqyRiHCRHzvEFQn0AluBRrMpty3qlB4np0FTJQIB5ER8dP7cwk_75893.png" style="width:100%;">
            </div>
            <div class="col-lg-7 col-md-7">
              <table class="table table-condensed" style="border-bottom: 1px solid lightgray">
                <tr>
                  <td>Committer</td>
                  <td>Innodient (Changho Kang)</td>
                </tr>
                <tr>
                  <td>Contact</td>
                  <td><a href="mailto:inodient@gmail.com">inodient@gmail.com</a></td>
                </tr>
                <tr>
                  <td>Location</td>
                  <td>Incheon, South Korea</td>
                </tr>
                <tr>
                  <td>Base Environment</td>
                  <td>Nodejs <br> Express<br> summer-mvc<br> bootstrap<br> jquery<br> bootstrap-treeview<br> summernote</td>
                </tr>
                <tr>
                  <td>Project Source</td>
                  <td><a href="https://github.com/inodient/wellformedit.git">GitHub Project</a></td>
                </tr>
                <tr>
                  <td>License</td>
                  <td>MIT</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row" id="modal_aboutus_closer">
          <div class="col-lg-12 col-md-12">
            <button type="button" class="btn btn-block" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      <div class="moadl-footer">
      </div>
    </div>
  </div>
</div>

<style>
  #modal_aboutus_closer {
    display:none;
  }

  @media screen and (min-width : 320px) and (max-width : 767px) {
    #modal_aboutus_closer {
      display:block;
    }
  }
</style>
