<footer>
  <div class="container-fluid footer-bottom">
    <div class="row">
      <hr>
      <div class="footer-logo col-lg-3 col-md-3 col-sm-3">
        <img src="/wellformedit_logo.png" />
      </div>
      <div style="padding-left:50px" class="col-lg-9 col-md-9 col-sm-9">
        <p><span class="glyphicon glyphicon-copyright-mark" ></span>&nbsp;2017 <b>Well Formed Group</b>, All rights reserved</p>
        <p>Well Formed IT v1.0.0 ∙ <br class="mobile-show">Created and Maintained by <a href="mailto:inodient@gmail.com">Innodient</a></p>
        <p>Based On <a href="http://getbootstrap.com/">Bootstrap</a> and <a href="http://jquery.com/">jQuery</a>.<br>Icons are designed by <a href="inodient@gmail.com">Asung Heo</a>.</p>
        <p>Well Formed IT distributed under the <a href="inodient@gmail.com">MIT</a> license.</p>
        <p><a href="https://github.com/inodient/wellformedit.git">GitHub Project</a></p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-lg-12 col-md-12">
        <p>Well Formed IT v1.0.0 ∙ Created and Maintained by <a href="mailto:inodient@gmail.com">Innodient</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p>Based On <a href="http://getbootstrap.com/">Bootstrap</a> and <a href="http://jquery.com/">jQuery</a>.<br>Icons are designed by <a href="inodient@gmail.com">Asung Heo</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p>Well Formed IT distributed under the <a href="inodient@gmail.com">MIT</a> license.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p><a href="https://github.com/inodient/wellformedit.git">GitHub Project</a></p>
      </div>
    </div> -->
  </div>
</footer>
