<div style="margin-bottom:60px;">
  <a class="sns_button" id="sns_facebook" data-url="http://www.wellformedit.com/facebook" data-title="ftitle" data-summary="fsummary" data-media="" style="color:black"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
  <a class="sns_button" id="sns_twitter" data-url="http://www.wellformedit.com/twitter" data-title="twtitle" data-summary="twsummary" data-media="" style="color:black"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
  <a class="sns_button" id="sns_linkedin" data-url="http://www.wellformedit.com/linkedin" data-title="ltitle" data-summary="lsummary" data-media="" style="color:black"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
  <!-- <a class="sns_button" id="sns_pinterest" data-url="http://www.wellformedit.com/pinterest" data-title="ptitle" data-summary="psummary" data-media="" style="color:black"><i class="fa fa-pinterest-square fa-3x" aria-hidden="true"></i></a>
  <a class="sns_button" id="sns_tumblr" data-url="http://www.wellformedit.com/tumbler" data-title="ttitle" data-summary="tsummary" data-media="" style="color:black"><i class="fa fa-tumblr-square fa-3x" aria-hidden="true"></i></a> -->
</div>
