<!DOCTYPE html>
<html lang="en">
<head>
  <title>Well Formed IT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>
    .modal-dialog.modal-fullsize {
      width:75%;
      height:75%;
      margin: 0;
      padding: 0;
    }

    .modal-content.modal-fullsize {
      height: auto;
      min-height: 100%;
      border-radius: 0;
    }

    .modal.modal-center {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      .modal.modal-center:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      #modal_img {
        display: none;
      }
    }

    .modal-dialog.modal-center {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }

    .modal-dialog{
        overflow-y: initial !important
    }
    .modal-body{
        overflow-y: auto;
    }

  </style>

  <script>

    $(document).ready( function(){
      $(".dropdown-toggle").dropdown();
    });

    <%
      var menuList = menuList;
      var innerMenuCodes = "";

      for( var i=0; i<menuList.length; i++ ){

        if( i != menuList.length - 1 && menuList[i+1].parent == menuList[i].id ){
          innerMenuCodes += `<li class="dropdown" id="` + menuList[i].id + `" class="menu" > \n`;
          innerMenuCodes += `<a class="dropdown-toggle" data-toggle="dropdown" href="` + menuList[i].redirectPath + `">` + menuList[i].displayName + `<span class="caret"></span></a> \n`
          innerMenuCodes += `<ul class="dropdown-menu"> \n`;

          var parentId = menuList[i].id;
          i++;

          while( i < menuList.length && menuList[i].parent == parentId ){

            innerMenuCodes += `<li id="` + menuList[i].id +  `" class="menu" ><a href="` + menuList[i].redirectPath + `">` + menuList[i].displayName + `</a></li>`;

            if( i != menuList.length - 1 && menuList[i+1].parent == parentId ){
              i++;
            } else{
              break;
            }
          }

          innerMenuCodes += `</ul>`;
          innerMenuCodes += `</li>`;
        } else{
          innerMenuCodes += `<li id="` + menuList[i].id +` class="menu" ><a href="` + menuList[i].redirectPath + `">` + menuList[i].displayName + `</a></li> \n`;
        }
      }
    %>

    <%
      var cheatSheetList = cheatSheetList;

      var innerListCodes = ``;
      var innerModalCodes = ``;

      for( var i=0; i<cheatSheetList.length; i++ ){

        // List View
        if( i % 3 == 0 ){
          innerListCodes += `<div class="row">`;
        }

        innerListCodes += `
            <div class="col-md-4">
              <div class="thumbnail">
                <div class="media">
                  <div class="media media-middle">
                    <center>
                    <img class="media-object" src="` + cheatSheetList[i].originalFileName + `" alt="" style="cursor:pointer; height:222.219px;" data-toggle="modal" data-target="#modal_` + cheatSheetList[i].id + `">
                    </center>
                  </div>
                  <div class="caption">
                    <p>` + cheatSheetList[i].title + `</p>
                  </div>
                </div>
              </div>
            </div>
        `;

        if( i % 3 == 2 ){
          innerListCodes += `</div>` + `\n`;
        }

        // Modal View
        innerModalCodes += `
        <div id="modal_` + cheatSheetList[i].id + `" class="modal modal-center fade" role="dialog">
          <div class="modal-dialog modal-center modal-fullsize">

            <div class="modal-content modal-fullsize">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">` + cheatSheetList[i].title + `</h3>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row" >
                    <div class="col-md-7">
                      <center>
                      <img id="modal_img" src="` + cheatSheetList[i].originalFileName + `" alt="" style="cursor:pointer; height:457.547px;" onclick="document.location.href='http://www.google.co.kr'">
                      </center>
                    </div>
                    <div class="col-md-5">
                      <h4>` + cheatSheetList[i].subtitle + `</h4>
                        <p>` + cheatSheetList[i].summarise.replace( /\n/g, "<br>" ) + `</p>
                        <br>
                      <h4>Key Words</h4>
                        <p><a href="#">` + cheatSheetList[i].category + `</a></p>
                        <br>
                      <h4>Writer</h4>
                        <p><a href="#">` + cheatSheetList[i].createUser + `</a></p>
                        <br>
                      <h4>History</h4>
                        <p>` + cheatSheetList[0].createDate + `</p>
                        <br>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="document.location.href='http://www.google.co.kr'">Open Cheat Sheet</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
        `;

        console.log( innerModalCodes );

      }
    %>


  </script>
</head>
<body>
  <header>
    <nav id="header" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Well Formed IT</a>
        </div>
        <div class="collapse navbar-collapse" id="menu">
          <ul class="nav navbar-nav" id="innerNav">
            <%- innerMenuCodes %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ><a href="#"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log-in</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid" style="padding-top:70px">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" id="cheatSheetContainer">
        <%- innerListCodes %>
      </div>
      <div class="col-md-2"></div>
  </div>

  <%- innerModalCodes %>


  <!-- footer -->
  <footer class="container-fluid" style="margin-bottom: 30px">
    <div class="row">
      <hr>
      <div class="col-sm-1"></div>
      <div class="col-sm-10 text-center">
        <ul style="list-style: none; margin: 0; padding: 0;">
          <li style="display: inline; padding-left: 30px;"><span class="glyphicon glyphicon-copyright-mark" ></span>&nbsp;2017 Inodient, All rights reserved</li>
          <li style="display: inline; padding-left: 30px;"><a href="https://github.com/inodient/Nodejs_Template" data-ga-click="Footer, go to contact, text:contact">Get GitHub</a></li>
          <li style="display: inline; padding-left: 30px;"><a href="https://developer.github.com" data-ga-click="Footer, go to api, text:api">Developer</a></li>
          <li style="display: inline; padding-left: 30px;"><a href="https://shop.github.com" data-ga-click="Footer, go to shop, text:shop">Facebook</a></li>
          <li style="display: inline; padding-left: 30px;"><a href="/index" data-ga-click="Footer, go to about, text:about">About</a></li>
        </ul>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </fotter>

</body>
</html>
