<!DOCTYPE html>

<html>
<head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" id="files-upload" name="uploadFile" multiple/>
    <input type="submit" name="Upload"/>
  </form>

  <form action="/upload" method="post">
    <input type="input" id="id_text" name="nm_text"/>
    <input type="submit" name="Upload"/>
  </form>

  <p>
    <a href="/download">download</a>
  </p>
</body>
</html>
